// features section

.home-features {
    color: $color-main-font;
    padding: 40px 20px;
    max-width: 1056px;
    margin: 0 auto;
    line-height: 1.2;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 240px;
    @media (max-width: $breakpoint-big-screen) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: $breakpoint-nav-stack) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.feature-row {
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.features-item {
    float: left;
    width: 50%;
    box-sizing: border-box;
    transition: all 0.4s;
    min-height: 224px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 80px;
}

.feature-item__header {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 20px;
    color: $color-header-font;
}

.feature-item__description {
    line-height: 1.2;
    font-size: 20px;
}

.feature-item__image {
    width: 100%;
    border-radius: 6px;
    box-shadow: 1px 2px 20px -1px rgba(108,73,255,0.4);
    margin-bottom: 20px;
}

.true-value {
    color: $color-alternate-font;
    padding: 80px 0px;
    max-width: 820px;
    margin: 0 auto;
    line-height: 1.2;
    box-sizing: border-box;
    border-top: 1px solid $color-footer-font;
    @media (max-width: $breakpoint-big-screen) {
        margin: 0 40px;
    }
    @media (max-width: $breakpoint-nav-stack) {
        margin: 0 20px;
    }
}

.true-value__header {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 40px;
}

.true-value__description {
    line-height: 1.4;
    padding-bottom: 20px;
}

.lets-do-this {
    color: $color-alternate-font;
    padding: 40px 20px;
    h2 {
        text-align: center;
        font-size: 30px;
        line-height: 1.2;
    }
}