/* Home styles
*/

body {
    background-color: $color-background;
    color: $color-main-font;
}

.page-container {
    position: relative;
    overflow: hidden;
    background-color: $color-background; 
    width: 100%;
    max-width: 1442px;
    margin: 0 auto;
}

.home-header {
    color: $color-header-font;
    padding: 40px 300px 50px 160px;
    line-height: 1.2;
    z-index: 1000;
    position: relative;
    min-height: 700px;
    h1 {
        font-size: 45px;
    }
    p {
        font-size: 20px;
        padding: 30px 100px 30px 0;
    }
    @media (max-width: 1240px) {
        // min-height: 900px;
        padding: 40px 160px 50px 160px;
    }
    @media (max-width: 952px) {
        // min-height: 900px;
        padding: 40px 60px 50px 60px;
    }
}

.home-header__cta {
    .button {
        margin-right: 20px;
        @media (max-width: $breakpoint-tablet) {
            font-size: 16px;
            padding: 14px 40px;
        }
    }
}

.home-logo {
    display: block;
    margin: 0 auto 40px;
}

.home-title {
    font-size: 48px;
    line-height: 1.3;
    @media (max-width: $breakpoint-nav-slim) {
        font-size: 40px;
    }
    @media (max-width: $breakpoint-phablet) {
        text-align: center;
    }
}

// homepage styles
section {
    width: 100%;
}

.home-intro {
    position: relative;
    min-height: 1024px;
    background-image: linear-gradient(#DEFBFF, white 60%);
    @media (max-width: 1240px) {
        // min-height: 900px;
    }
}

.home-header-scroller {
    transition: all 0.2s;
    position: relative;
}

.presale-countdown {
    transition: all 0.25s;
    position: absolute;
    bottom: -200px;
    max-width: 535px;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 1px 2px 20px -1px rgba(108,73,255,0.4);
    background-color: $color-background;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    color: $color-main-font;
    // transform: translateX(-1000px);
    @media (max-width: 1240px) {
        // min-height: 900px;
        bottom: -100px
    }
    @media (max-width: $breakpoint-tablet) {
        max-width: 100%;
        box-sizing: border-box;
        position: relative;
        margin-top: 40px;
    }
}

.presale-countdown__header {
    font-size: 20px;
}
.presale-countdown__subheader {
    font-size: 36px;
    padding: 10px 0 40px;
}

.presale-countdown__counter {
    width: 100%;
    margin-bottom: 40px;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.presale-countdown__slot {
    width: 25%;
    float: left;
    font-size: 48px;
}

.presale-countdown__label {
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 14px;
}

.home-video {
    position: relative;
    min-height: 900px;
    background-color: white;
    z-index: 2;
    @media (max-width: $breakpoint-tablet) {
        min-height: 760px;
    }
}

.home-video {
	// position: relative;
	// padding-bottom: 56.25%; /* 16:9 */
	// padding-top: 25px;
	// height: 0;
}
.home-video iframe, .home-video video {
	// position: absolute;
	// top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;
}

.home-video__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 715px;
    height: 500px;
    video {
        box-shadow: 1px 2px 40px 8px rgba(108, 73, 255, 0.2);
    }
}

.home-video__header {
    font-size: 48px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.social-media {
    padding: 40px 160px;
    line-height: 1.2;
    z-index: 1000;
    position: relative;
    min-height: 700px;
    box-sizing: border-box;
    h2 {
        font-size: 45px;
        margin-top: 20%;
    }
    p {
        font-size: 20px;
        padding: 30px 60px 30px 0;
    }
    @media (max-width: $breakpoint-tablet) {
        padding: 40px 60px 50px 60px;
    }
    // @media (max-width: 952px) {
    //     // min-height: 900px;
    //     padding: 40px 60px 50px 60px;
    // }
}

.social-media__row {
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.social-media__col {
    float: left;
    width: 52%;
    &:last-child {
        width: 48%;
    }
}

.social-media__infographic {
    position: relative;
    height: 510px;
    background: url(../images/bgs/bg-social-media.png) 50% 50% no-repeat;
    background-size: 100%;
    .cyclist {
        position: absolute;
        bottom: -80px;
        left: 40px;
        width: 258px;
        @media (max-width: $breakpoint-tablet) {
            bottom: -85px;
            left: -30px;
            width: 66%;
        }
    }
}

.social-media__tag {
    transition: all 0.2s;
    position: relative;
    display: inline-block;
    background-color: white;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.2);
    min-width: 260px;
    min-height: 85px;
    box-sizing: border-box;
    padding: 16px 16px 16px 80px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.3;
    img {
        position: absolute;
        left: 16px;
        top: 18px;
    }
    strong {
        font-size: 22px;
        display: block;
    }
    &.-leaks {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        left: 0px;
        @media (max-width: $breakpoint-tablet) {
            top: 47%;
            left: -32px;
        }
    }
    &.-brother {
        position: absolute;
        left: 42%;
        top: 78px;
        @media (max-width: $breakpoint-tablet) {
            left: 25%;
            top: 62px;
        }
    }
    &.-fakenews {
        position: absolute;
        left: 52%;
        top: 58%;
        @media (max-width: $breakpoint-tablet) {
            left: 44%;
            top: 65%;
        }
    }
}
