/* Home styles
*/

body {
    background-color: $color-background;
    color: $color-main-font;
}

.language-selector {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.language-selector__current {
    position: relative;
    padding: 0 24px 0 0;
}

.language-selector__arrow {
    transition: all 0.2s;
    position: absolute;
    top: 1px;
    right: 1px;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
}

.language-selector__layer {
    display: none;
    transition: all 0.1s;
    position: absolute;
    right: -1px;
    top: 16px;
    background-color: white;
    border-radius: 4px;
    min-width: 50px;
    padding: 6px 10px;
    &.-active {
        transform: translateY(10px);
    }
    &:before {
        position: absolute;
        content: ' ';
        top: -6px;
        right: 0;
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
    }
}

.language-selector__item {
    transition: all 0.2s;
    display: block;
    text-align: right;
    color: $color-sidebar-font;
    text-decoration: none;
    opacity: 1;
    line-height: 1.4;
    font-size: 14px;
    &:hover {
        opacity: 0.6;
    }
}

.page-container {
    position: relative;
    overflow: hidden;
    background-color: $color-background; 
    width: 100%;
    max-width: 1442px;
    margin: 0 auto;
}

.home-header {
    padding: 40px 0 50px;
}

.home-logo {
    display: block;
    margin: 0 auto 40px;
}

.home-title {
    font-size: 48px;
    line-height: 1.3;
    @media (max-width: $breakpoint-nav-slim) {
        font-size: 40px;
    }
    @media (max-width: $breakpoint-phablet) {
        text-align: center;
    }
}

.home-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.home-video iframe, .home-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// homepage styles
section {
    width: 100%;
}

.home-intro {
    min-height: 1024px;
    background-image: linear-gradient(to bottom right, #DEFBFF, white);
}