/* Home styles
*/

body {
    background-color: $color-background;
    color: $color-main-font;
}

.page-container {
    position: relative;
    overflow: hidden;
    background-color: $color-background; 
    width: 100%;
    max-width: 1442px;
    margin: 0 auto;
}

.home-header {
    color: $color-header-font;
    padding: 40px 300px 50px 160px;
    line-height: 1.2;
    z-index: 1000;
    position: relative;
    min-height: 700px;
    h1 {
        font-size: 45px;
    }
    p {
        font-size: 18px;
        padding: 30px 100px 30px 0;
    }
    @media (max-width: 1240px) {
        // min-height: 900px;
        padding: 40px 160px 50px 160px;
    }
    @media (max-width: 952px) {
        // min-height: 900px;
        padding: 40px 60px 50px 60px;
    }
}

.home-header__cta {
    .button {
        margin-right: 20px;
    }
}

.home-logo {
    display: block;
    margin: 0 auto 40px;
}

.home-title {
    font-size: 48px;
    line-height: 1.3;
    @media (max-width: $breakpoint-nav-slim) {
        font-size: 40px;
    }
    @media (max-width: $breakpoint-phablet) {
        text-align: center;
    }
}

.home-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.home-video iframe, .home-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// homepage styles
section {
    width: 100%;
}

.home-intro {
    position: relative;
    min-height: 1024px;
    background-image: linear-gradient(#DEFBFF, white 60%);
    @media (max-width: 1240px) {
        // min-height: 900px;
    }
}

.presale-countdown {
    position: absolute;
    bottom: -200px;
    max-width: 535px;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 1px 2px 20px -1px rgba(108,73,255,0.4);
    background-color: $color-background;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    color: $color-main-font;
    @media (max-width: 1240px) {
        // min-height: 900px;
        bottom: -100px
    }
}

.presale-countdown__header {
    font-size: 20px;
}
.presale-countdown__subheader {
    font-size: 36px;
    padding: 10px 0 40px;
}

.presale-countdown__counter {
    width: 100%;
    margin-bottom: 40px;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.presale-countdown__slot {
    width: 25%;
    float: left;
    font-size: 48px;
}

.presale-countdown__label {
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 14px;
}

.home-video {
    min-height: 900px;
}
