/* Roadmap styles
*/

.roadmap {
    padding: 60px 0;
    background: transparent url(../images/roadmap/bg-roadmap.png) 50% 0% no-repeat;
    color: $color-roadmap-font;
}

.roadmap-header {
    padding: 40px 20px 50px;
    line-height: 1.2;
    text-align: center;
    h2 {
        font-size: 45px;
    }
    @media (max-width: 1240px) {
        // min-height: 900px;
        padding: 40px 160px 50px 160px;
    }
    @media (max-width: 952px) {
        // min-height: 900px;
        padding: 40px 60px 50px 60px;
    }
}

.roadmap-scroller {
    width: 100%;
    overflow-x: auto;
}

.roadmap-map {
    position: relative;
    height: 230px;
    min-width: 1100px;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.roadmap-map__item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 14.22%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.roadmap-map__label {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.roadmap-map__description {
    text-align: center;
    font-size: 16px;
    padding-top: 40px;
    line-height: 1.2;
}

.roadmap-map__bullet--mask {
    height: 50px;
}

.roadmap-map__bullet {
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color-background;
    box-shadow: 2px 3px 25px -3px rgba(108, 73, 255, 0.6);
    text-align: center;
    img {
        position: relative;
        top: 10px;
    }
}

.roadmap-map__line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    border-top: 1px solid $color-background;
}

.roadmap-graphs__container {
    padding: 100px 0;
}

.roadmap-graphs {
    width: 100%;
    margin: 0 auto;
    max-width: 860px;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
    }
}

.roadmap-graphs__col {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    box-sizing: border-box;
    h3 {
        text-align: center;
        font-size: 32px;
        padding-bottom: 50px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: $breakpoint-tablet) {
            position: relative;
            top: auto;
            padding-bottom: 24px;
            font-size: 26px;
        }
        @media (max-width: $breakpoint-phablet) {
            float: none;
            width: 100%;
            position: absolute;
            top: 28%;
        }
    }
    @media (max-width: $breakpoint-phablet) {
        float: none;
        width: 100%;
    }
}

.roadmap-graphs__inner {
    position: relative;
    text-align: center;
    border-radius: 8px;
    background-color: $color-background;
    box-shadow: 2px 3px 25px -3px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.roadmap-graphs__svg {
    width: 100%;
    max-width: 316px;
}

.roadmap-graphs__ul {
    margin-top: 25px;
    text-align: left;
    li {
        position: relative;
        line-height: 2;
        padding-left: 28px;
        padding-right: 35px;
        span {
            position: absolute;
            right: 0;
            top: 0;
        }
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 9px;
            width: 14px;
            height: 14px;
        }
    }
}


.roadmap-graphs__item {
    &.-red {
        &:before {
            background-color: #371e80;
        }
    }
    &.-blue {
        &:before {
            background-color: #6e69ff;
        }
    }
    &.-lightblue {
        &:before {
            background-color: #7d52da;
        }
    }
    &.-lightgreen {
        &:before {
            background-color: #51ceba;
        }
    }
    &.-darkgreen {
        &:before {
            background-color: #68b1ff;
        }
    }
    &.-yellow {
        &:before {
            background-color: #ee9252;
        }
    }
    &.-grey {
        &:before {
            background-color:#9B9B9B;
        }
    }
}

.roadmap-graphs__ul--left {
    text-align: right;
    li {
        position: relative;
        padding-right: 40px;
        &:before {
            content: ' ';
            position: absolute;
            right: 0;
            top: 10px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }
    }
}



