/* Roadmap styles
*/

.roadmap {
    padding: 60px 0;
}

.roadmap-header {
    padding: 40px 300px 50px 160px;
    line-height: 1.2;
    h2 {
        text-transform: uppercase;
        font-size: 45px;
    }
    @media (max-width: 1240px) {
        // min-height: 900px;
        padding: 40px 160px 50px 160px;
    }
    @media (max-width: 952px) {
        // min-height: 900px;
        padding: 40px 60px 50px 60px;
    }
}

.roadmap-map {
    position: relative;
    height: 230px;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.roadmap-map__item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 14.22%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.roadmap-map__label {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.roadmap-map__description {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 40px;
    line-height: 1.2;
}

.roadmap-map__bullet--mask {
    height: 50px;
}

.roadmap-map__bullet {
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: $color-roadmap;
    box-shadow: 2px 3px 25px -3px rgba(108, 73, 255, 0.6);
    &.-bullet2 {
        width: 26px;
        height: 26px;
    }
    &.-bullet3 {
        width: 30px;
        height: 30px;
    }
    &.-bullet4 {
        width: 36px;
        height: 36px;
    }
    &.-bullet5 {
        width: 46px;
        height: 46px;
    }
    &.-bullet6 {
        width: 56px;
        height: 56px;
    }
    &.-bullet7 {
        width: 84px;
        height: 84px;
    }
}

.roadmap-map__line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    border-top: 1px solid $color-roadmap;
}

.roadmap-graphs__container {
    padding: 100px 0;
}

.roadmap-graphs {
    width: 60%;
    margin: 0 auto;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
    @media (max-width: $breakpoint-tablet) {
        width: 82%;
    }
}

.roadmap-graphs__col {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    h3 {
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        padding-bottom: 50px;
    }
}

.roadmap-graphs__svg {
    width: 100%;
    max-width: 316px;
}

.roadmap-graphs__ul {
    margin-top: 100px;
    li {
        line-height: 2.8;
    }
}

.roadmap-graphs__ul--right {
    li {
        position: relative;
        padding-left: 40px;
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 10px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }
    }
}

.roadmap-graphs__item {
    &.-red {
        &:before {
            border: 3px solid #FF496F;
        }
    }
    &.-blue {
        &:before {
            border: 3px solid #4B49FF;
        }
    }
    &.-lightblue {
        &:before {
            border: 3px solid #3EAEFF;
        }
    }
    &.-lightgreen {
        &:before {
            border: 3px solid #7ED321;
        }
    }
    &.-darkgreen {
        &:before {
            border: 3px solid #26CE93;
        }
    }
    &.-yellow {
        &:before {
            border: 3px solid #F8E71C;
        }
    }
    &.-grey {
        &:before {
            border: 3px solid #9B9B9B;
        }
    }
}

.roadmap-graphs__ul--left {
    text-align: right;
    li {
        position: relative;
        padding-right: 40px;
        &:before {
            content: ' ';
            position: absolute;
            right: 0;
            top: 10px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }
    }
}



