/* settings styles
*/

// breakpoints
$breakpoint-big-screen: 1300px;
$breakpoint-nav-slim: 1000px;
$breakpoint-nav-stack: 820px;
$breakpoint-phablet: 600px;

// branded colors
$color-background: #ffffff;
$color-main-font: #25247C;
$color-footer-font: #ffffff;
$color-sidebar-font: #000000;
$color-sidebar-link: #0676FF;
$color-coupon-font: #FF496F;
$color-signup-background: #FFFFFF;
$color-form-background: #F2F2F4;
$color-button-light: #D97BFF;
$color-button-dark: #734CFF;