/* settings styles
*/

// breakpoints
$breakpoint-big-screen: 1300px;
$breakpoint-nav-slim: 1000px;
$breakpoint-nav-stack: 820px;
$breakpoint-phablet: 600px;

// branded colors
$color-background: #ffffff;
$color-button-background: #4B49FF;
$color-alternate-font: #ffffff;
$color-main-font: #25247C;
$color-header-font: #07160E;
$color-footer-font: #ffffff;
$color-sidebar-font: #000000;
$color-sidebar-link: #0676FF;
$color-news-button: #FF496F;
$color-news-font: #050505;
$color-signup-background: #FFFFFF;
$color-form-background: #F2F2F4;
$color-button-light: #D97BFF;
$color-button-dark: #734CFF;
$color-cap-meter: #7ED321;
$color-cap-bg: #E8F7D8;
$color-roadmap: #4B49FF;