/* Signup styles
*/
.home-signup__overlay {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: 0.6;
    display: none;
    @media (max-width: $breakpoint-phablet) {
        //display: none !important;
    }
}
.home-signup {
    display: block;
    transition: all 0.25s;
    position: fixed;
    right: 0;
    top: 0;
    max-width: 390px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $color-signup-background;
    color: $color-sidebar-font;
    overflow: auto;
    box-shadow: -4px 0px 19px -4px rgba(0,0,0,0.4);
    z-index: 10001;
    transform: translateX(400px);
    // @media (max-width: $breakpoint-nav-slim) {
    //     max-width: 375px;
    // }
    @media (max-width: $breakpoint-nav-stack) {
        display: none;
        right: 10px;
        top: 10px;
        height: 97%;
        max-width: 96%;
        border-radius: 12px;
        margin: 0 auto 60px;
        left: 10px;
    }
    &.-active {
        transform: translateX(0);
        display: block;
    }
}

.home-signup__close {
    display: block;
    position: absolute;
    right: 5px;
    &:after{
        display: inline-block;
        content: "\00d7";
        font-size: 40px;
        width: 28px;
    }
}

.home-signup__form-entry {
    display: none;
    padding: 68px 44px;
    @media (max-width: $breakpoint-nav-stack) {
        padding: 40px 20px;
    }
}

.home-signup__form-success {
    padding: 88px 44px;
    display: none;
    p {
        line-height: 1.5;
        margin-top: 26px;
    }
}

.home-signup__success-email {
    font-weight: bold;
    color: $color-sidebar-link;
}

.home-signup__success-hdr {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    img {
        position: relative;
        top: 4px;
        left: 8px;
    }
}

.home-signup__header {
    font-size: 24px;
    color: $color-coupon-font;
    margin-bottom: 30px;
}

.home-signup__intro {
    line-height: 1.4;
    font-size: 18px;
    @media (max-width: $breakpoint-phablet) {
        font-size: 20px;
        line-height: 1.4;
    }
}

.home-signup__form {
    margin: 40px 0 0;
    label {
        display: block;
        font-size: 12px;
        padding-bottom: 6px;
        margin-left: 15px;
    }
}

.home-signup__cta {
    padding-top: 20px;
    button {
        width: 100%;
    }
}

.signup-select-wrapper {
    margin-bottom: 30px;
}

.signup-select {
    &.-full {
        width: 100%;
    }
}

.home-signup__error {
    display: none;
    color: red;
    padding: 10px 0 10px;
    line-height: 1.3;
}

.home-signup__throbber {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    text-align: center;
    z-index: 1111111;
    color: $color-button-dark;
    .throbber-content {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        img {
            display: inline-block;
        }
    }
}

.mobile-form-cta {
    transition: all 0.3s;
    position: fixed;
    bottom: -2px;
    left: 0;
    padding: 30px 20px 40px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 8px 8px 0 0;
    z-index: 1000;
    display: none;
    box-shadow: -4px 0px 19px -4px rgba(0,0,0,0.4);
    @media (max-width: $breakpoint-nav-stack) {
        display: block;
    }
    &.-hide {
        transform: translateY(140px);
    }
}

#footerCta {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    font-size: 20px;
    padding: 20px;
}
