/* settings styles
*/
/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
body {
  font-family: 'Roboto', sans-serif;
}

button, .button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #25247C;
  opacity: 1;
  text-decoration: none;
  background-color: #ffffff;
  padding: 16px 60px;
  border-radius: 30px;
  outline: none;
  -webkit-box-shadow: 1px 2px 20px -1px rgba(108, 73, 255, 0.5);
  box-shadow: 1px 2px 20px -1px rgba(108, 73, 255, 0.5);
}
button:hover, .button:hover {
  opacity: 0.7;
}

.button--alt {
  background-color: #4B49FF;
  color: #ffffff;
}

/* Home styles
*/
body {
  background-color: #ffffff;
  color: #25247C;
}

.page-container {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  max-width: 1442px;
  margin: 0 auto;
}

.home-header {
  color: #07160E;
  padding: 40px 300px 50px 160px;
  line-height: 1.2;
  z-index: 1000;
  position: relative;
  min-height: 700px;
}
.home-header h1 {
  font-size: 45px;
}
.home-header p {
  font-size: 20px;
  padding: 30px 100px 30px 0;
}
@media (max-width: 1240px) {
  .home-header {
    padding: 40px 160px 50px 160px;
  }
}
@media (max-width: 952px) {
  .home-header {
    padding: 40px 60px 50px 60px;
  }
}

.home-header__cta .button {
  margin-right: 20px;
}

.home-logo {
  display: block;
  margin: 0 auto 40px;
}

.home-title {
  font-size: 48px;
  line-height: 1.3;
}
@media (max-width: 1000px) {
  .home-title {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .home-title {
    text-align: center;
  }
}

section {
  width: 100%;
}

.home-intro {
  position: relative;
  min-height: 1024px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DEFBFF), color-stop(60%, white));
  background-image: -o-linear-gradient(#DEFBFF, white 60%);
  background-image: linear-gradient(#DEFBFF, white 60%);
}

.presale-countdown {
  position: absolute;
  bottom: -200px;
  max-width: 535px;
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 2px 20px -1px rgba(108, 73, 255, 0.4);
  box-shadow: 1px 2px 20px -1px rgba(108, 73, 255, 0.4);
  background-color: #ffffff;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #25247C;
}
@media (max-width: 1240px) {
  .presale-countdown {
    bottom: -100px;
  }
}

.presale-countdown__header {
  font-size: 20px;
}

.presale-countdown__subheader {
  font-size: 36px;
  padding: 10px 0 40px;
}

.presale-countdown__counter {
  width: 100%;
  margin-bottom: 40px;
}
.presale-countdown__counter:after {
  content: ' ';
  display: table;
  clear: both;
}

.presale-countdown__slot {
  width: 25%;
  float: left;
  font-size: 48px;
}

.presale-countdown__label {
  margin-top: 6px;
  text-transform: uppercase;
  font-size: 14px;
}

.home-video {
  position: relative;
  min-height: 900px;
  background-color: white;
  z-index: 2;
}

.home-video__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 715px;
  height: 500px;
}
.home-video__container video {
  -webkit-box-shadow: 1px 2px 40px 8px rgba(108, 73, 255, 0.2);
  box-shadow: 1px 2px 40px 8px rgba(108, 73, 255, 0.2);
}

.home-video__header {
  font-size: 48px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.social-media {
  padding: 40px 160px;
  line-height: 1.2;
  z-index: 1000;
  position: relative;
  min-height: 700px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.social-media h2 {
  font-size: 45px;
  margin-top: 20%;
}
.social-media p {
  font-size: 20px;
  padding: 30px 60px 30px 0;
}

.social-media__row:after {
  content: ' ';
  display: table;
  clear: both;
}

.social-media__col {
  float: left;
  width: 55%;
}
.social-media__col:last-child {
  width: 45%;
}

.social-media__infographic {
  position: relative;
  height: 510px;
  background: url(../images/bgs/bg-social-media.png) 50% 50% no-repeat;
  background-size: 100%;
}
.social-media__infographic .cyclist {
  position: absolute;
  bottom: -80px;
  left: 62px;
  width: 258px;
}

.social-media__tag {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  display: inline-block;
  background-color: white;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  min-width: 260px;
  min-height: 85px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 16px 16px 80px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.3;
}
.social-media__tag img {
  position: absolute;
  left: 16px;
  top: 18px;
}
.social-media__tag strong {
  font-size: 24px;
  display: block;
}
.social-media__tag.-leaks {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
}
.social-media__tag.-brother {
  position: absolute;
  left: 50%;
  top: 60px;
}
.social-media__tag.-fakenews {
  position: absolute;
  left: 60%;
  top: 55%;
}

.top-nav {
  position: relative;
  width: 100%;
  min-height: 110px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  font-size: 14px;
}

.top-nav__menu {
  position: absolute;
  top: 45px;
  right: 30px;
}

.top-nav__item {
  position: relative;
  margin-left: 35px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  font-size: 14px;
  color: #25247C;
}
.top-nav__item a, .top-nav__item .language-selector__current {
  font-size: 14px;
  color: #25247C;
  text-decoration: none;
  text-transform: uppercase;
}
.top-nav__item a:before, .top-nav__item .language-selector__current:before {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #25247C;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}
.top-nav__item a:hover:before, .top-nav__item .language-selector__current:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.language-selector {
  position: relative;
  cursor: pointer;
}

.language-selector__current {
  position: relative;
  padding: 0 24px 0 0;
}

.language-selector__arrow {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 0px;
  right: 1px;
  border: solid #25247C;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.language-selector__layer {
  display: none;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  position: absolute;
  right: -1px;
  top: 16px;
  background-color: white;
  border-radius: 4px;
  min-width: 50px;
  padding: 6px 10px;
}
.language-selector__layer.-active {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
.language-selector__layer:before {
  position: absolute;
  content: ' ';
  top: -6px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}

.language-selector__item {
  margin-left: 35px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  text-align: right;
  color: #000000;
  text-decoration: none;
  opacity: 1;
  line-height: 1.4;
  font-size: 14px;
}
.language-selector__item:hover {
  opacity: 0.6;
}

.home-parallax {
  -webkit-transform: all 0.2s;
  -ms-transform: all 0.2s;
  transform: all 0.2s;
}

.home-parallax__mask {
  position: absolute;
  background-color: white;
  bottom: -150px;
  height: 300px;
  width: 100%;
  z-index: 5;
}

.header-bg-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 536px;
  background: transparent url(../images/bgs/bg-home1.png) 50% 50% no-repeat;
  background-size: 100%;
  z-index: 6;
}
@media (max-width: 1240px) {
  .header-bg-1 {
    bottom: 40px;
  }
}

.header-bg-2 {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  height: 355px;
  background: transparent url(../images/bgs/bg-home2.png) 50% 50% no-repeat;
  background-size: 100%;
  z-index: 5;
  -webkit-transform: translateY(-84.2009px);
  -ms-transform: translateY(-84.2009px);
  transform: translateY(-84.2009px);
}

.header-bg-3 {
  position: absolute;
  bottom: 160px;
  left: 0;
  width: 100%;
  height: 397px;
  background: transparent url(../images/bgs/bg-home3.png) 50% 50% no-repeat;
  background-size: 100%;
  z-index: 4;
  -webkit-transform: translateY(-77.9118px);
  -ms-transform: translateY(-77.9118px);
  transform: translateY(-77.9118px);
}

.header-bg-4 {
  position: absolute;
  bottom: 200px;
  left: 0;
  width: 100%;
  height: 498px;
  background: transparent url(../images/bgs/bg-home4.png) 50% 50% no-repeat;
  background-size: 100%;
  z-index: 3;
  -webkit-transform: translateY(-65.3119px);
  -ms-transform: translateY(-65.3119px);
  transform: translateY(-65.3119px);
}

.header-bg-5 {
  position: absolute;
  bottom: 135px;
  left: 0;
  width: 100%;
  height: 711px;
  background: transparent url(../images/bgs/bg-home5.png) 50% 50% no-repeat;
  background-size: 100%;
  z-index: 2;
  -webkit-transform: translateY(-44.6743px);
  -ms-transform: translateY(-44.6743px);
  transform: translateY(-44.6743px);
}

/* Cap styles
*/
.market-cap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 160px 50px 160px;
}

.current-stage__label {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding-left: 10px;
}

.current-stage {
  position: relative;
  border-radius: 26px;
  -webkit-box-shadow: 1px 2px 20px -1px rgba(108, 73, 255, 0.4);
  box-shadow: 1px 2px 20px -1px rgba(108, 73, 255, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 100px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  background-color: white;
}

.current-stage__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-box-shadow: 1px 2px 20px -1px rgba(108, 73, 255, 0.4);
  box-shadow: 1px 2px 20px -1px rgba(108, 73, 255, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 26px;
}

.current-stage__header {
  font-size: 24px;
}

.current-stage__subheader {
  font-size: 18px;
  padding: 40px 0 80px;
}
.current-stage__subheader span {
  padding: 0 10px;
}

.current-stage__meter {
  width: 100%;
  height: 8px;
  border-radius: 9px;
  background-color: #E8F7D8;
}

.current-stage__widget {
  height: 8px;
  width: 50%;
  border-radius: 9px;
  background-color: #7ED321;
}

.current-stage__bullet {
  margin-top: 26px;
  text-align: left;
}
.current-stage__bullet li {
  position: relative;
  font-size: 18px;
  line-height: 2.2;
  padding-left: 20px;
}
.current-stage__bullet li.-active:before {
  background-color: #7ED321;
}
.current-stage__bullet li:before {
  content: ' ';
  position: absolute;
  top: 14px;
  left: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #E8F7D8;
}

.current-stage__logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.current-stage__help {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Roadmap styles
*/
.roadmap {
  padding: 160px 0;
}

.roadmap-header {
  padding: 40px 300px 50px 160px;
  line-height: 1.2;
}
.roadmap-header h2 {
  text-transform: uppercase;
  font-size: 45px;
}
@media (max-width: 1240px) {
  .roadmap-header {
    padding: 40px 160px 50px 160px;
  }
}
@media (max-width: 952px) {
  .roadmap-header {
    padding: 40px 60px 50px 60px;
  }
}

.roadmap-map {
  position: relative;
  height: 230px;
}
.roadmap-map:after {
  content: ' ';
  display: table;
  clear: both;
}

.roadmap-map__item {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14.22%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

.roadmap-map__label {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.roadmap-map__description {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 40px;
  line-height: 1.2;
}

.roadmap-map__bullet--mask {
  height: 50px;
}

.roadmap-map__bullet {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: #4B49FF;
  -webkit-box-shadow: 2px 3px 25px -3px rgba(108, 73, 255, 0.6);
  box-shadow: 2px 3px 25px -3px rgba(108, 73, 255, 0.6);
}
.roadmap-map__bullet.-bullet2 {
  width: 26px;
  height: 26px;
}
.roadmap-map__bullet.-bullet3 {
  width: 30px;
  height: 30px;
}
.roadmap-map__bullet.-bullet4 {
  width: 36px;
  height: 36px;
}
.roadmap-map__bullet.-bullet5 {
  width: 46px;
  height: 46px;
}
.roadmap-map__bullet.-bullet6 {
  width: 56px;
  height: 56px;
}
.roadmap-map__bullet.-bullet7 {
  width: 84px;
  height: 84px;
}

.roadmap-map__line {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  border-top: 1px solid #4B49FF;
}
